@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css');
@import "tailwindcss";
@import "tw-animate-css";
@config "../tailwind.config.js";
@tailwind utilities;

:root {
  --transition-regular: .3s;
  --transition-slow: .6s;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  /* SỬA LỖI Ở ĐÂY */
  background-color: #FFFFFF;
}

.main {
  font-family: theme('fontFamily.inter');
  background-image: 
    linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)),
    url('https://www.epicsurface.com/storage/2023/01/en-2023-interior-design-trends-5-trends-for-the-upcoming-months_63c7dbfae0edf.jpg');
  min-height: 100vh;
  position: relative;
}

.header {
  background-color: #FFFFFF;
}

/* Begin header */
.nav-link {
  position: relative;
  display: inline-block;
  padding: 4px 0;
}

.nav-link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 2px;
  border-radius: 5px;
  background: linear-gradient(to right, #0E3205, #246122);
  transition: var(--transition-regular);
}

.nav-link::before {
  content: "";
  position: absolute;
  top: 100%;
  right: 0;
  width: 0;
  height: 2px;
  border-radius: 5px;
  background: linear-gradient(to left, #0E3205, #246122);
  transition: var(--transition-regular);
}

.nav-link:hover::after,
.nav-link:hover::before {
  width: 100%;
}
/* End header */


/* === LAYOUT MOBILE (Admin Home) */
.ad_home {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.box {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid theme('colors.main-bg');
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
}


/* === LAYOUT DESKTOP (Admin Home) */
/* Áp dụng khi màn hình RỘNG HƠN 1280px */
@media (min-width: 1280px) {

  .ad_home {
    display: grid;
    height: 100%;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .box1 {
    grid-column: span 1;
    grid-row: span 3;
  }

  .box2 {
    grid-column: span 1;
    grid-row: span 1;
  }

  .box3 {
    grid-column: span 1;
    grid-row: span 1;
  }

  .box4 {
    grid-column: span 2;
    grid-row: span 2;
  }
}